/* assigns the text color and The background color */
$colorvar: #3D3D3D;
$backgroundvar: $backgroundvar;

body {
    color: $colorvar;
    background-color: $backgroundvar; }
  
  p {
    color: $colorvar; }
  
  h2 {
    background-color: $backgroundvar; }
